<div aria-hidden="true" id="dRasp_gradoescuelaI" name="Adesc">Al elegir esta opción, afirmas que estas inscrito en el bachillerato.</div>
<div aria-hidden="true" id="dRasp_gradoescuelaB" name="Adesc">Al elegir esta opción, afirmas que has concluído el bachillerato.</div>
<div aria-hidden="true" id="dRasp_gradoescuelaS" name="Adesc">Al elegir esta opción, afirmas que has concluído la secundaria.</div>
<div aria-hidden="true" id="dRasp_gradoescuelaP" name="Adesc">Al elegir esta opción, afirmas que has concluído la primaria.</div>
<!--sec 2. area bachillerato -->
<div aria-hidden="true" id="dIasp_promediosecundaria" name="Adesc">En este campo, debes escribir cuál fue tu promedio en la secundaria.</div>
<div aria-hidden="true" id="dIasp_promediobach" name="Adesc">En este campo, debes escribir cuál fue tu promedio en el bachillerato.</div>
<div aria-hidden="true" id="dSasp_nopresentoexani1" name="Adesc">En esta lista, debes seleccionar si ingresaste al bachillerato presentando el examen EXANI 1 para ingresar al bachillerato o no, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dIasp_aniopresentoexani1" name="Adesc">En este campo, debes seleccionar que año presentaste el examen EXANI 1.</div>
<div aria-hidden="true" id="dSasp_anioingresoselect" name="Adesc">En esta lista, debes seleccionar en que año ingresaste al bachillerato, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSasp_mesegresoselect" name="Adesc">En esta lista, debes seleccionar en que mes egresarás del bachillerato, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSasp_anioegresoselect" name="Adesc">En esta lista, debes seleccionar en que año egresarás del bachillerato, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSasp_areabachillerato" name="Adesc">En esta lista, debes seleccionar que área cursaste en el bachillerato, utlizando las teclas arriba y abajo del teclado.</div>

<!--sec 3. lugar del bachillerato -->
<div aria-hidden="true" id="dRasp_estudioenmexico" name="Adesc">Al elegir esta opción, afirmas que estudias tu bachillerato en la republica Méxicana.</div>
<div aria-hidden="true" id="dRasp_estudioenmexico1" name="Adesc">Al elegir esta opción, afirmas que no estudias tu bachillerato en la republica Méxicana.</div>
<div aria-hidden="true" id="dRasp_estudioenveracruz" name="Adesc">Al elegir esta opción, afirmas que estudias tu bachillerato en el estado de Veracruz.</div>
<div aria-hidden="true" id="dRasp_estudioenveracruz1" name="Adesc">Al elegir esta opción, afirmas que no estudias tu bachillerato en el estado de Veracruz.</div>

<div aria-hidden="true" id="dSasp_paisestudios" name="Adesc">En esta lista, debes seleccionar el país donde estudiaste tu bachillerato, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSasp_estadoestudios" name="Adesc">En esta lista, debes seleccionar el estado donde estudiaste tu bachillerato, utlizando las teclas arriba y abajo del teclado.</div>
<!--sec 4 datos del bachillerato-->
<div aria-hidden="true" id="dSlistamunicipios" name="Adesc">En esta lista, debes seleccionar el municipio en el que estudias tu bachillerato, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSlistasector" name="Adesc">En esta lista, debes seleccionar el sector al que pertenece tu escuela, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSlistaturnos" name="Adesc">En esta lista, debes seleccionar el turno al que pertenece tu escuela, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSescuela" name="Adesc">En esta lista, debes seleccionar tu escuela, utlizando las teclas arriba y abajo del teclado.</div>
<!-- sec 5. datos de ubicacion -->
<div aria-hidden="true" id="dSsPaisAct" name="Adesc">En esta lista, debes elegir el país donde vives actualmente, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsEdoAct" name="Adesc">En esta lista, debes elegir el estado donde vives actualmente, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsMunAct" name="Adesc">En esta lista, debes elegir el municipio donde vives actualmente, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsLocAct" name="Adesc">En esta lista, debes elegir la localidad donde vives actualmente, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dIdomAct" name="Adesc">En este campo, debes escribir el nombre de la calle donde vives actualmente.</div>
<div aria-hidden="true" id="dSsColAct" name="Adesc">En esta lista, debes elegir la colonia donde vives actualmente, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dIsCP" name="Adesc">En este campo, debes escribir el nombre de la colonia donde vives actualmente.</div>
<div aria-hidden="true" id="dSsSmedicos" name="Adesc">En esta lista, debes seleccionar si cuentas o no con servicios médicos, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsReligion" name="Adesc">En esta lista, puedes seleccionar tu religión si que que lo deseas, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsLenInd" name="Adesc">En esta lista, debes seleccionar si es que hablas o no una lengua indígena, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsTeInd" name="Adesc">En esta lista, debes seleccionar si es que te consideras o no un indígena, utilizando las flechas del teclado.</div>
<!--sec 6. problemas fisicos -->
<div aria-hidden="true" id="dSsCmsb" name="Adesc">En esta lista, debes seleccionar si es que tienes dificultades para caminar, moverte, subir o bajar, o no, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsVbc" name="Adesc">En esta lista, debes seleccionar si es que tienes dificultades para vestirte, bañarte o comer, o no, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsVerLentes" name="Adesc">En esta lista, debes seleccionar si es que tienes dificultades para caminar, moverte, subir o no, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsAprender" name="Adesc">En esta lista, debes seleccionar si es que tienes dificultades para poner atención o aprender cosas sencillas, o no, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsHablar" name="Adesc">En esta lista, debes seleccionar si es que tienes dificultades para hablar, comunicarte o conversar, o no, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsMental" name="Adesc">En esta lista, debes seleccionar si es que tienes alguna limitación mental, o no, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dSsAuditivo" name="Adesc">En esta lista, debes seleccionar si es que tienes dificultades para oír aún utilizando un aparato auditivo, o no, utilizando las flechas del teclado.</div>
<!--sec 7. contacto de emergencia -->
<div aria-hidden="true" id="dIcEnombre" name="Adesc">En este campo, debes escribir el nombre de una persona que se pueda contactar en caso de una emergencia.</div>
<div aria-hidden="true" id="dIcEpAp" name="Adesc">En este campo, debes escribir el primer apellido de una persona que se pueda contactar en caso de una emergencia.</div>
<div aria-hidden="true" id="dIcEsAp" name="Adesc">En este campo, debes escribir el segundo apellido de una persona que se pueda contactar en caso de una emergencia.</div>
<div aria-hidden="true" id="dSscEparentesco" name="Adesc">En esta lista, debes seleccionar el parentesco que tienes con la persona que se puede contactar en caso de una emergencia, utilizando las flechas del teclado.</div>
<div aria-hidden="true" id="dIcEcorreo" name="Adesc">En este campo, debes escribir el correo electrónico de la persona que se pueda contactar en caso de una emergencia.</div>
<div aria-hidden="true" id="dIcEtel" name="Adesc">En este campo, debes escribir el teléfono de la persona que se pueda contactar en caso de una emergencia.</div>
<div aria-hidden="true" id="dIcEcelular" name="Adesc">En este campo, debes escribir el número de celular de la persona que se pueda contactar en caso de una emergencia.</div>
<div aria-hidden="true" id="dIconfcEcorreo" name="Adesc">En este campo, debes escribir nuevamente el correo electrónico de la persona que se pueda contactar en caso de una emergencia.</div>
<div aria-hidden="true" id="dIconfcEtel" name="Adesc">En este campo, debes escribir nuevamente el teléfono de la persona que se pueda contactar en caso de una emergencia.</div>
<div aria-hidden="true" id="dIconfcEcelular" name="Adesc">En este campo, debes escribir nuevamente el número de la persona que se pueda contactar en caso de una emergencia.</div>