<div tabindex="1" name="panel" id="panel1">
    <h1 role='presentation'>Página de aspirantes.</h1>
    <p> Esta es la página de control de los aspirantes en ella puedes seleccionar las siguientes opciones
Imprimir folio UV, Registrar datos personales, Ingresar datos familiares faltantes,  Contestar cuestionario de contexto, Imprimir la orden de pago y Subir mi fotografía.
</p>
    <p> Instrucciones: Para desplazarte dentro de la página de registro y control del aspirante debes presionar la tecla tabulador. Para presionar un botón debes posicionarte sobre el y apretar la tecla enter.</p>
</div>