<h1 tabindex="2" role="presentation">Convocatoria</h1>
<h2 tabindex="2" role="presentation">Ingreso a Música y Artes de nivel Iniciación o Preparatorio 2015 </h2>

<div tabindex="2" >
    <p class="justificado"> La Universidad Veracruzana a través de la Dirección General de Administración Escolar,
        dependiente de la Secretaría Académica, con base en el artículo 178 del Estatuto General y los artículos 
        13 y 15 del Estatuto de los Alumnos 2008.
    </p>
</div>
<h2 tabindex="2" role="presentation">Convoca</h2>
<div tabindex="2" >

    <p class="justificado"> 
        A las personas interesadas en participar en el proceso de admisión para ingresar al Ciclo Escolar agosto 
        2015- enero 2016 y cursar un Programa educativo (carrera) de Danza o Música de nivel iniciación o 
        preparatorio del área académica de Artes; a presentar el Examen de Ingreso que se realizará el día 23 de 
        Mayo de 2015, conforme a los siguientes:
    </p>
</div>
<h2 tabindex="2"  role="presentation"> Requisitos </h2>


<p tabindex="2" > 1. Realizar el registro por Internet con base al Instructivo de Registro del 23 de febrero al 7 de abril de 2015.  </p> 
<p tabindex="2"> 2.  Realizar el pago de derechos del Examen indicados en la Orden de Pago del 23 de febrero al 8 de abril de 2015.  </p> 
<p tabindex="2"> a.  Nacionales: Seis Cientos Sesenta y Cinco pesos en moneda nacional. </p> 
<p tabindex="2"> b.  Extranjeros: Un Mil Novecientos Noventa y Cuatro pesos en moneda nacional. </p> 
<p tabindex="2"> c.  Podrán solicitar condonar quienes tengan ese derecho. Ver trámite en <a tabindex="2" href="http://www.uv.mx/dgrh/tramites-servicios/cond-insc/descripcion-ci/" aria-describedby="info2"> www.uv.mx/dgrh/tramites-servicios/cond-insc/descripcion-ci/</a></p> 
<p tabindex="2"> 3.  Presentar el Examen de Ingreso en la fecha, hora y lugar indicados en la Credencial para Examen. Consulte el Portal de la Convocatoria en el botón: Guías de Examen.</p>
<p tabindex="2"> a.  Para todos los Programas educativos de nivel preparatorio se aplicará el Examen EXANI I Admisión (Examen Nacional de Ingreso a la Educación Media Superior) y 
    un Examen de aptitudes y habilidades artísticas. Para tal fin, es preciso comunicarse a la Facultad correspondiente. Consulte el Portal de la Convocatoria en el botón: 
    Guías de Examen.</p>
<p tabindex="2"> b.  Para los Programas educativos de Música de nivel iniciación, únicamente se aplicará el Examen de habilidades musicales y de habilidades en el instrumento 
    elegido. Consulte el Portal de la Convocatoria en el botón: Guías de Examen. </p>



<h2 tabindex="2"  role="presentation"> Condiciones </h2>


<p tabindex="2" > Del registro por Internet </p>
<p tabindex="2" > En <a tabindex="2" href="http://www.uv.mx/escolar/artes2015" aria-describedby="info3">www.uv.mx/escolar/artes2015</a>: </p>
<p tabindex="2"> 1.    Leer y aceptar términos y condiciones de la presente Convocatoria. </p> 
<p tabindex="2"> 2.    Proporcionar los datos solicitados, seleccionar el programa educativo de Artes o Música y completar registro. </p> 
<p tabindex="2"> 3.    Realizar el pago de derechos del Examen.  </p> 
<p tabindex="2"> 4.    Subir al sistema una foto digital reciente del 25 de febrero al 11 de mayo de 2015. La foto deberá cumplir con las característica establecidas en el botón: Cómo hacer la foto. </p> 
<p tabindex="2"> a.    Dos días hábiles después de subir la foto, deberá ingresar al portal con el Folio UV y contraseña para informarse si fue aceptada, en caso contrario subir una nueva foto.</p>
<p tabindex="2"> 5. Imprimir Credencial para Examen del 20 de abril al 20 de mayo de 2015. </p>
<p tabindex="2"> 6.    Los aspirantes a un Programa educativo del área académica de Artes, que así lo decidan, podrán solicitar otro Programa educativo de la misma u otra área 
    académica, es decir tener dos solicitudes. </p>
<h2 tabindex="2" role="presentation">De la aplicación del examen EXANI I:</h2>
<p tabindex="2"> 7.    Presentar el Examen de Ingreso el 23 de Mayo de 2015 en la sede y hora indicados en la Credencial para Examen.</p>
<p tabindex="2"> 8.    Mostrar la Credencial para Examen y una identificación en original con fotografía reciente. Por ejemplo: credencial de elector,  cartilla de servicio militar 
    nacional, pasaporte, licencia de conducir, credencial escolar, constancia o certificado de estudios con fotografía. </p>
<p tabindex="2"> 9.    Llevar lápiz del número 2 ó 2 y medio (1/2), goma, sacapuntas y calculadora de funciones básicas (suma, resta, multiplicación y división). </p>
<p tabindex="2"> 10.   El Examen EXANI I Admisión tiene una duración de dos horas y treinta minutos. </p>
<h2 tabindex="2" role="presentation"> De la aplicación de los exámenes de aptitudes y habilidades artísticas: </h2>
<p tabindex="2"> 11.   Consultar en el Portal de la Convocatoria en el botón: Guías de Examen el día, hora y lugar para presentar el Examen de aptitudes y acceder a la guía para el 
    Examen de habilidades musicales, o bien en el portal de la Facultad del Programa educativo elegido. </p>
<p tabindex="2"> 12.   Comprobar haber presentado el Examen de Ingreso EXANI I Admisión al momento de presentar el Examen de aptitudes, mostrando la Credencial para Examen etiquetada 
    y firmada por el aplicador. </p>
<h2 tabindex="2" role="presentation">De los resultados:</h2>
<p tabindex="2"> 13.   Consultar los resultados por Internet en el portal de la Convocatoria a partir del  15 de junio de 2015.  </p>
<p tabindex="2"> 14.   Los aspirantes a cada Programa educativo se ordenarán en forma descendente en función del puntaje obtenido en los exámenes.</p>
<p tabindex="2"> 15.   En ese orden se asignará el derecho de inscripción hasta completar el número de lugares disponible en cada Programa educativo.   </p>
<p tabindex="2"> 16.   Para el Programa educativo de Danza, la asignación de lugares está determinado por el puntaje mínimo en el Examen de habilidades artísticas. Consulte el Portal 
    de la Convocatoria en el botón: Guías de Examen.</p>
<h2 tabindex="2" role="presentation"> De la inscripción: </h2>
<p tabindex="2"> 17. Las inscripciones se realizarán del 3 al 7 de agosto de 2015.</p>
<p tabindex="2"> 18. La inscripción se realizará en la Facultad correspondiente, en la fecha y hora asignada en la Ficha de Inscripción.  </p>
<p tabindex="2"> 19. Mostrar identificación oficial en original con fotografía y Ficha de Inscripción. </p>
<p tabindex="2"> 20. Para inscribirse es obligatorio entregar los siguientes documentos:</p>
<p tabindex="2"> a.  Original de acta de nacimiento. </p>
<p tabindex="2"> b.  Original de certificado completo de los estudios (bachillerato, secundaria o primaria) de acuerdo con la edad del aspirante. </p>
<p tabindex="2"> c.  Comprobante de pago por derechos de inscripción.  </p>
<p tabindex="2"> 21. Los aspirantes con derecho a inscripción deberán cumplir además con los requisitos establecidos por la Facultad. </p>
<p tabindex="2"> De los lugares disponibles: </p>
<p tabindex="2"> 22. Se publicará en el Portal de la Convocatoria el 10 de agosto de 2015 el total de lugares disponibles. Consulte el Portal de la Convocatoria en el botón: 
    Lugares Disponibles.</p> 
<p tabindex="2"> 23. Podrán solicitar un lugar disponible, los días 10 y 11 de agosto de 2015, los aspirantes que no obtuvieron un lugar con derecho a inscripción en Primera Lista 
    y presentaron Examen de Ingreso en el mismo Programa educativo (carrera, región y modalidad).</p>  
<p tabindex="2"> 24. Para participar por un lugar disponible, es obligatorio realizar una solicitud de registro en línea, siguiendo el procedimiento: “Cómo solicitar un lugar 
    disponible”.  </p>
<p tabindex="2"> 25. Los lugares con derecho a inscripción se asignarán en orden descendente, según el lugar ocupado en la Primera Lista de resultados del 15 de junio de 2015. En 
    el caso de la Facultad de Música los lugares se asignarán únicamente en las opciones de instrumentos vacantes.  </p>
<p tabindex="2"> 26. Para el programa educativo de Danza, no se ofrecerán lugares disponibles. </p>
<p tabindex="2"> 27. Los resultados se publicarán el 12 de agosto de 2015. </p>
<p tabindex="2"> 28. La inscripción se realizará el 13 de agosto de 2015. </p>
<p tabindex="2"> 29. Para inscribirse es necesario cumplir con los puntos 18, 19, 20 y 21 de la presente Convocatoria. </p>

<h2 tabindex="2" role="presentation">Consideraciones Importantes</h2>

<p tabindex="2"> 1.  Se cancelará el registro al aspirante que: </p>
<p tabindex="2"> a.  Sea suplantado o que proporcione documentos o información falsa. </p>
<p tabindex="2"> b.  Cuente con matrícula vigente o estatus de baja definitiva en la Universidad Veracruzana del mismo programa educativo del cual solicitó Examen de Ingreso en la presente Convocatoria.  </p>
<p tabindex="2"> 2.  No se permitirá el ingreso a la sede del Examen a quien:   </p>
<p tabindex="2"> a.  Esté en estado de ebriedad o con aliento alcohólico. </p>
<p tabindex="2"> b.  Porte gorra, sombrero o capucha, teléfono celular, audífonos o cualquier dispositivo electrónico (excepto calculadora simple), así como lentes para sol. </p>
<p tabindex="2"> 3.  La Universidad Veracruzana se reserva el derecho de verificar, sin excepción alguna y en cualquier momento, la identidad de los aspirantes presentados y la validez de los documentos exhibidos. </p>
<p tabindex="2"> 4.  Efectuado el pago de derechos no se hará ninguna devolución.  </p>
<p tabindex="2"> 5.  Los aspirantes mexicanos o extranjeros que estudiaron el bachillerato, secundaria o primaria en otro país deberán presentar oficio de resolución de 
    revalidación de estudios completos. </p>
<p tabindex="2"> 6.  Los aspirantes extranjeros deberán presentar documentación que acredite su estancia legal en el país. </p>
<p tabindex="2"> 7.  Es responsabilidad del interesado realizar correctamente el registro y concluirlo según las fechas establecidas en la presente Convocatoria. </p>
<p tabindex="2"> 8.  La Universidad Veracruzana no ofrece ningún curso de preparación para el Examen de Ingreso. </p>
<p tabindex="2"> 9.  Los asuntos no previstos en la presente Convocatoria serán resueltos por la Comisión Técnico Académica de Ingreso y Escolaridad. </p>

<div tabindex="2" >

    <p style="text-align: center;"> 
        "LIS DE VERACRUZ: ARTE, CIENCIA, LUZ"<br>
        Xalapa-Enríquez, Veracruz, 20 de febrero de 2015 <br>
        COMISIÓN TÉCNICO ACADÉMICA DE INGRESO Y ESCOLARIDAD
    </p>
</div>


<div class="row">
    <form action= "<?php echo base_url('index.php/login2') ?>">
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Empezar Registro" aria-describedby="info1" tabindex="2"> 

    </form>
</div>

