<!-- descripciones registro de datos personales -->
<div aria-hidden="true" id="dIasp_nombres" name="Adesc">En este campo, debes escribir tu nombre, en el caso de que tengas dos o mas nombres, también debes escribirlos.</div>
<div aria-hidden="true" id="dIasp_apellidopaterno" name="Adesc">En este campo, debes escribir tu primer apellido.</div>
<div aria-hidden="true" id="dIasp_apellidomaterno" name="Adesc">En este campo, debes escribir tu segundo apellido, en caso de que no lo tengas, lo puedes dejar vacio.</div>
<div aria-hidden="true" id="dSdianacimiento" name="Adesc">En esta lista, debes seleccionar el día de tu nacimiento, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSmesnacimiento" name="Adesc">En esta lista, debes seleccionar el mes de tu nacimiento, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dIanionacimiento" name="Adesc">En este campo, debes escribir el año de tu nacimiento completo, por ejemplo 1992.</div>
<div aria-hidden="true" id="dSasp_nacionalidad" name="Adesc">En esta lista, debes seleccionar tu nacionalidad, utlizando las teclas arriba y abajo del teclado. Si seleccionas extranjero, deberas seleccionar tu país de nacimiento más adelante.</div>
<div aria-hidden="true" id="dSasp_paisnacimiento" name="Adesc">En esta lista, debes seleccionar tu país de nacimiento, utlizando las teclas arriba y abajo del teclado. México esta seleccionado por omisión. Si en nacionalidad seleccionaste Extranjero, debes seleccionar un país</div>
<div aria-hidden="true" id="dSasp_estadonacimiento" name="Adesc">En esta lista, debes seleccionar el estado donde naciste, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSasp_municipionacimiento" name="Adesc">En esta lista, debes seleccionar el municipio donde naciste, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSasp_sexo" name="Adesc">En esta lista, debes seleccionar tu sexo, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dSasp_estadocivil" name="Adesc">En esta lista, debes seleccionar tu estado civil, utlizando las teclas arriba y abajo del teclado.</div>
<div aria-hidden="true" id="dIasp_curp" name="Adesc">En este campo, debes escribir tu curp o clave única de registro de población.</div>
<div aria-hidden="true" id="dIasp_lada" name="Adesc">En este campo, debes escribir la clave lada de tu número teléfono, puede ser tuyo o de algún vecino o conocido.</div>
<div aria-hidden="true" id="dIasp_telefono" name="Adesc">En este campo, debes escribir un número de teléfono fíjo de 10 dígitos, puede ser tuyo o de algún vecino o conocido.</div>
<div aria-hidden="true" id="dIasp_celular" name="Adesc">En este campo, debes escribir un número de teléfono celular, puede ser tuyo o de algún vecino o conocido.</div>
<div aria-hidden="true" id="dIasp_ladaconfirma" name="Adesc">En este campo, debes volver escribir la clave lada de tu número teléfono.</div>
<div aria-hidden="true" id="dIasp_telefonoconfirma" name="Adesc">En este campo, debes volver escribir el número de teléfono fíjo de 10 dígitos.</div>
<div aria-hidden="true" id="dIasp_celularconfirma" name="Adesc">En este campo, debes volver escribir el número de celular.</div>
<div aria-hidden="true" id="dSasp_familiarizadoconbraile" name="Adesc">En este campo, debes seleccionar si es que estas familiarizado con el sistema braile.</div>
<!-- descripciones datos de cuenta UV -->
<div aria-hidden="true" id="dIasp_email" name="Adesc">En este campo, debes escribir tu correo electrónico.</div>
<div aria-hidden="true" id="dIasp_password" name="Adesc">En este campo, debes escribir una contraseña para iniciar sesión.</div>
<div aria-hidden="true" id="dSasp_idpreguntasecreta" name="Adesc">En esta lista, debes seleccionar una pregunta, con la cual podrás recuperar tus datos de inicio de sesión</div>
<div aria-hidden="true" id="dIasp_emailconfirma" name="Adesc">En este campo, debes volver a escribir tu correo electrónico.</div>
<div aria-hidden="true" id="dIasp_repassword" name="Adesc">En este campo, debes volver a escribir tu contraseña.</div>
<div aria-hidden="true" id="dIasp_respuestapreguntaseguridad" name="Adesc">En este campo, debes escribir la respuesta a la pregunta secreta que seleccionaste anteriormente.</div>
<div aria-hidden="true" id="dBregistrar" name="Adesc">Al hacer clic en este botón, concluirás el registro inicial, que te proporcionara tu folio UV, y te redireccionará a la página del aspirante, donde podrás continuar con las demás actividades del registro</div>