<div id="panel1" name="panel" tabindex="8" autofocus role="complementary">
    <h1 role='presentation'>Página de registro de datos personales</h1>
    <p> En esta página deberás ingresar tus datos personales.</p>
    <p>
        Instrucciones. En esta página, puedes desplazarte entre secciones presionando las teclas control + z;
        para desplazarte adentro de las secciones debes presionar la tecla tabulador;
        También puedes desplazarte entre el panel de errores y el de instrucciones, utilizando control + shift;
        para presionar un botón debes de posicionarte sobre él y presionar la tecla enter.
    </p>
    <p>
        Si al registrarte la página te manda mensaje de error, puedes colocarte en el error marcado y al presionar la tecla enter, te llevará al campo de registro que hay que corregir.
    </p>
</div>
