
<!--<h1 tabindex="2" role="presentation">Declarativa de Privacidad</h1>-->

<div tabindex="3" >
    <p class="justificado"> De conformidad con el dispuesto en el artículo 14 de la ley 581 
        para la tutela de los datos personales en el 
        Estado de Veracruz y demás disposiciones aplicables, le comunicamos que los Datos 
        Personales recabados 
        serán protegidos, incorporados y tratados en el Sistema denominado "Sistema de nuevo 
        ingreso Licenciatura y
        TSU" de la Dirección General de Administración Escolar, Campus Xalapa de la Universidad 
        Veracruzana.
    </p>
</div>
<div tabindex="4" >
    <p class="justificado"> 
        Así mismo, se le informa que la finalidad de recabarlos es para: 
        Realizar el registro en línea de los aspirantes de nuevo ingreso que 
        deseen solicitar una licenciatura en la Universidad Veracruzana.
        Se prevé que el aspirante realice su solicitud de registro en línea 
        para el examen, imprima su orden de pago, realice el depósito en el banco, 
        anexe su fotografía, imprima su credencial, se presente en la fecha, hora y lugar
        indicado para la aplicación de su examen de ingreso y posteriormente se proceda a
        la publicación de los resultados de primera lista, vacante y corrimiento.
    </p>
</div>
<div tabindex="5" >
    <p class="justificado"> 
        Y podrán ser transmitidos a dependencias internas de la Universidad Veracruzana, 
        así como también a dependencias públicas únicamente para realizar estudios con
        fines estadísticos, científicos o históricos. Además de otras transmisiones 
        previstas en la Ley 581 para la Tutela de los Datos Personales en el Estado de Veracruz.
    </p>
</div>
<div tabindex="6" >
    <p class="justificado"> 
        Para la realización de algunos trámites, existen campos que 
        son considerados como obligatorios y que sin ellos no se podrá 
        acceder al servicio o completar el trámite de registro a la Universidad 
        Veracruzana; por lo anterior, y a fin de evitar contratiempos le solicitamos 
        los atienda de manera correcta.        
    </p>

</div>
<div tabindex="7" >
    <p class="justificado">
        Así mismo, se le informa que sus datos son resguardados con las medidas de 
        seguridad de NIVEL ALTO y no podrán ser difundidos sin su consentimiento expreso,
        salvo las excepciones previstas en la Ley.
    </p>

</div>
<div tabindex="8" >
    <p class="justificado">
        El responsable del Sistema de Datos Personales es el Dr. Héctor Francisco Coronel Brizio,
        Director General de Administración Escolar, quien está obligado o facultado para responder
        a las preguntas que le sean planteadas por el titular de los datos personales.
    </p>

</div>
<div tabindex="9" >
    <p class="justificado">
        La <b>Coordinación Universitaria de Transparencia, Acceso a la Información y 
            Protección de Datos Personales</b> de la <b>UNIVERSIDAD VERACRUZANA</b>, es la única 
        instancia facultada para dar trámite a las solicitudes de: Acceso, Rectificación,
        Cancelación y Oposición de Datos Personales; así como la revocación del consentimiento;
        que desee formular el titular o su representante legal previa acreditación de su personalidad.
    </p>

</div>
<div tabindex="10" >
    <p class="justificado">
        Por lo anterior, ponemos a su disposición su domicilio en la calle Veracruz número 46 
        Interior 5 Fraccionamiento Pomona de la ciudad de Xalapa, Veracruz, Código Postal 91040,
        teléfono 8 41 59 20, y correo electrónico transparencia@uv.mx. 
    </p>

</div>
<div tabindex="11" >
    <p class="justificado">
        También se le informa en términos de lo que establece el Dispositivo 26 de los 
        Lineamientos para la Tutela de los Datos Personales, que dispone de un plazo de 
        15 días hábiles a partir de esta fecha para manifestar su negativa al tratamiento,
        con el apercibimiento de que de no pronunciarse al respecto se entenderá que lo consiente. 
    </p>

</div>
<div tabindex="12" >
    <p class="justificado">
        El interesado podrá dirigirse al Instituto Veracruzano de Acceso a la Información
        (http://www.ivai.org.mx), donde recibirá asesoría sobre los derechos que regula 
        la Ley 581 para la Tutela de los Datos Personales en el Estado de Veracruz al 
        teléfono (228) 8 42 02 70, extensión 406; correo electrónico: contacto@verivai.org.mx 
        o contactodatospersonales@verivai.org.mx

    </p>

</div>





<div class="row">
    <form action= "curp">
        <input class="btn btn-lg btn-primary btn-block" type="submit"    value="Aceptar las condiciones y continuar" aria-describedby="info1" tabindex="13"> 

    </form>
</div>
<div id="info1" aria-hidden="true" name = "Adesc">
    Al hacer clic en este botón aceptarás los términos y te llevará a la página donde debes ingresar tu curp.
</div>