<!--<div class="list-group" tabindex="2" name="panel" id="panel2">
    <div class="list-group-item list-group-item-text">
        <h3 class="list-group-item-heading" role="presentation">Aviso:</h3>
        <p class="list-group-item-text"></p>
    </div>
    <div class="list-group-item">
        <p class="list-group-item-heading" role="presentation">Es obligatorio presentar una identificación oficial con fotografía 
            el dia del examen.</p>
        <p class="list-group-item-text"></p>
    </div>
</div>-->

