<div tabindex="1" id="panel1" name='panel' >
    <h1 role='presentation'>Página búsqueda del CURP</h1>
    <p>En esta página deberás ingresar tu CURP, si no te lo sabes podrás dar clic en el enlace ¿olvidaste tu CURP? Y éste te re direccionará a la página de la RENAPO,  donde podrás buscar tu CURP. Nota, La página de búsqueda del CURP es externa a la Universidad, por lo que puede no tener caracteristicas de accesibilidad y necesitarás apoyo visual para obtenerlo.
    </p>
    <p>Instrucciones: Para desplazarte dentro de la página del CURP debes presionar la tecla tabulador, para presionar un botón debes posicionarte sobre él  y apretar la tecla enter.</p></div>
