<div id="panel1" name="panel" tabindex="1">
    <h1 role='presentation'>Página de registro de datos escolares.</h1>
    <p> En esta página deberás ingresar tus datos personales.</p>
    <p>
        Instrucciones. En esta página, puedes desplazarte entre secciones presionando las teclas control + z;
        para desplazarte dentro de las secciones debes presionar la tecla tabulador;
        También puedes desplazarte entre el panel de errores y el de instucciones, utilizando control + shift;
        para presionar un botón debes de posicionarte sobre él y presionar la tecla enter.
    </p>
</div>
