<div id="panel1" name="panel" tabindex="1">
    <h1 role='presentation'>Página del cuestionario de contexto.</h1>
    <p> Esta es la página deberás contestar el cuestionario de contexto.</p>
    <p>
        Instrucciones: En ésta página podrás contestar el cuestionario a una serie de 90 preguntas que irán en orden;
        para desplazarte  debes hacerlo con la tecla tabulador;
        debes seleccionar tu respuesta con las teclas arriba y abajo del teclado de la lista de opciones; 
        una vez seleccionada la respuesta puedes usar tabulador para seleccionar el boton siguiente pregunta y continuar el cuestionario.
        Se recomienda que una vez comenzado el cuestionario, lo resuelva hasta terminarlo.
    </p>
</div>
