<!--<link rel="stylesheet" type="text/css" href="altocontraste.css" media="screen">-->
<?php if($this->session->flashdata( 'correcto' )==true){ ?>
<div class="list-group" id='panel2' tabindex="3">
    <div class="list-group-item list-group-item-section">
        <h2 role="presentation">Pregunta guardada  </h2>
        <p>
            <?php json_encode($this->session->flashdata( 'correcto' ));?>
        </p>
    </div>
    <div class="list-group-item " tabindex="3">
        <?php $correcto= $this->session->flashdata( 'correcto' );?>
        La pregunta <?= $correcto['enviado']['cue_numeropregunta']; ?> de <?= $orden['total']; ?> ha sido correctamente guardada
    </div>
</div>
<?php }else ?>
<?php if($this->session->flashdata( 'error' )==true){ ?>
<div class="list-group" id='panel2' tabindex="3">
    <div class="list-group-item list-group-item-danger">
        <h2 role="presentation">Error</h2>
        <p>
            <?php  json_encode($this->session->flashdata( 'error' ));?>
        </p>
    </div>
    <div class="list-group-item " tabindex="3">
        <?php $error= $this->session->flashdata( 'error' );?>
        La pregunta <?= $error['enviado']['cue_numeropregunta'] ?> de <?= $orden['total']; ?>, no ha sido guardada, porfavor intente otra vez.
    </div>
</div>
<?php }?>
<form method="post" action="<?php echo base_url('index.php/cuestionario/index_1/').'/'.$orden['actual'].'/true' ?>">
    <?php foreach($preguntas as $pregunta){?>
    <div class="row">
        <input type="hidden" id="Hpregunta<?php echo $pregunta->cup_id; ?>" name="pregunta[]" value="<?php echo $pregunta->cup_id; ?>">
        <label for="respuesta<?php echo $pregunta->cup_id; ?>" >Pregunta <?php echo $pregunta->cup_id." de ".$orden['total']. ". ".$pregunta->cup_nombre; ?></label>
        <select tabindex='3' id="respuesta<?php echo $pregunta->cup_id; ?>" name="respuesta<?php echo $pregunta->cup_id; ?>" class="form-control" aria-describedby="dS_cuadrocombinado" >
            <?php foreach($pregunta->respuestas as $respuesta){ ?>
            <option value="<?php echo $respuesta->cor_id ?>"><?php echo $respuesta->cor_textorespuesta ?></option>
            <?php } ?>
        </select>
    </div>	
    <hr>
    <?php } ?>

    <?php if($orden['siguiente']==NULL){
    $Bnombre="Terminar cuestionario";
    } else{
    $Bnombre="Siguiente pregunta";
    } ?>
    <div class='row'>
        <div class='col-md-6'>
            <?php if($orden['anterior']!=NULL){ ?>
            <a class='btn btn-lg btn-primary btn-block' tabindex="4"  href="<?= base_url('index.php/cuestionario/index_1').'/'.$orden['anterior'] ?>" role="button">Pregunta anterior</a>
            <?php } ?>
        </div>
        <div class='col-md-6'>
            <input class="btn btn-lg btn-primary btn-block" tabindex="5" type="submit" value="<?= $Bnombre; ?>" id="botoncuestionario" aria-describedby="dButon_enviarcuestio">
        </div>
    </div>

</form>
