<div id="info1" aria-hidden="true" name = "Adesc">
    en éste campo debes escribir tu folio uv
</div>
<div id="info2" aria-hidden="true" name = "Adesc">
    en éste campo debes escribir la contraseña para ingresar a tu página
</div>
<div id="info3" aria-hidden="true" name = "Adesc">
    si presionas éste botón te llevará a la declarativa de privacidad
</div>
<div id="info4" aria-hidden="true" name = "Adesc">
    si presionas este botón te llevará a la página donde podrás ver tus datos personales e imprimir el folio uv
</div>