<div id="info1" aria-hidden="true" name = "Adesc">
    Este botón te llevará a la página de inicio de registro de la universidad veracruzana que estará habilitada apartir del 23 de Febrero del 2015.
</div>
<div id="info2" aria-hidden="true" name = "Adesc">
    Puedes solicitar este trámite mediante una solicitud de condonación de inscripción en la dirección general de recursos humanos.
</div>
<div id="info3" aria-hidden="true" name = "Adesc">
    En este enlace, esta el registro para personas sin discapacidad visual.
</div>