<div tabindex="1" name="panel" id="panel1">
    <p>Instrucciones: Para desplazarte dentro de la convocatoria de ingreso a música y artes, debes presionar la tecla tabulador, para presionar un botón debes posicionarte sobre él  y apretar la tecla enter. 
        Para volver a leer todo recarga la página con f5. 
        Para ajustar el tamaño de letra si eres una persona con baja visión, puedes usar las teclas Alt Shift y un número del 1 al 3.
        Para cambiar el color de contraste puedes utilizar Shift, Alt y Z.
    </p>
</div>