<div aria-hidden="true" id="info2" name="Adesc">Al presionar este botón te mandará a la página de la renapo para buscar tu curp </div>
<div aria-hidden="true" id="info1" name="Adesc">En éste campo debes escribir tu Curp</div>
<div aria-hidden="true" id="info4" name="Adesc">Este enlace te llevará a la página de renapo, ésta página es ajena a la Universidad Veracruzana</div>
<div aria-hidden="true" id="info3" name="Adesc">Esta boton si lo presionas te llevará  a la página de registro de datos personales</div>