<div tabindex="1" id="panel1" name="panel"> 
    <h1 role='presentation'>Página para subir fotografía.</h1>
    <p tabindex="1"> Instrucciones: <br></p>
    <p tabindex="1">Se recomienda solicitar ayuda a otra persona, para poder realizar este paso, ya que es necesario verificar el contenido y tamaño de la foto, de acuerdo a las especificaciones que se detallan mas adelante.<br></p>
    <p tabindex="1">Para desplazarte dentro de las opciones puedes presionar la tecla tabulador, para utilizar un botón debes posicionarte sobre él y presionar la tecla enter. </p>
    
</div>